main
  margin 20px 10px
  @media screen and (min-width: mq--desktop)
    margin-left 16%

h2#main-sub-title
  font-weight normal
  font-size 1.9837em
  margin 0 0 25px
  color color--primary
  letter-spacing -1px
  word-spacing -10px 
  text-stroke .01em #2d1223
  @media screen and (min-width: mq--phablet)
    font-size 2.4em
    width calc(90% + 20px)
    margin 0 auto 20px auto
  @media screen and (min-width: mq--tablet)
    font-size 2.8em 
  @media screen and (min-width: mq--desktop)
    font-size 4.4em
  span
    display block
    

/****************
 * INDEX PAGE
 ****************/

#portfolio-preview
  background color--white
  padding 10px 15px 10px
  position relative
  border-radius 4px
  overflow hidden
  margin 0 auto
  width 90%
  h3 
    font-size .875em
    color color--primary-light
    margin 0
    @media screen and (min-width: mq--tablet)
      font-size 1.2em
  #portfolio-preview-right, #portfolio-preview-left
    position absolute
    top 46%
    font-size 1.4em
    z-index 10 
    @media screen and (min-width: mq--phablet)
      font-size 1.8em
    @media screen and (min-width: mq--desktop)
      font-size 2.5em 
    a
      color color--primary
  #portfolio-preview-right
    right 4px
    @media screen and (min-width: mq--desktop)
      right 10px
  #portfolio-preview-left
    left 4px
    @media screen and (min-width: mq--desktop)
      left 10px
  .bx-wrapper .bx-viewport
    box-shadow none
  .bx-viewport
    padding-right 5px
  ul
    position relative
    list-style none
    padding 0
    margin-bottom 0
    li
      font-size .8em
      word-spacing -.18em
      display block
      @media screen and (min-width: mq--tablet)
        font-size .9em
    img
      width 100%
      box-shadow 1px 1px 3px rgba(color--primary-light, .3)
      padding 2px
      background color--primary-light
    strong
      display block
      margin-top 4px
      @media screen and (min-width: mq--tablet)
        margin-top 6px
    .portfolio-preview-link
      padding 0
      margin-top 2px
    a .fa
      padding 2px 5px
      font-size 0.8em
    

/****************
 * PORTFOLIO PAGE
 ****************/
 
#portfolio
  list-style none
  padding 0
  margin 0 auto
  @media screen and (min-width: mq--phablet)
    width 93%
    margin 0 auto
  li
    background color--white
    border-radius 5px
    padding 10px
    margin 15px 0
    transition all .2s ease-in-out
    @media screen and (min-width: mq--desktop)
        width 44%
        display inline-block
        vertical-align top
        margin 10px
        padding 10px 15px
        &:nth-of-type(odd)
          margin-left 0
        &:nth-of-type(even)
          margin-right 0
    &:first-of-type
      margin-top 0
      @media screen and (min-width: mq--desktop)
        margin-top 10px
    &:hover
      transform scale(1.03)
      .portfolio-link a
        font-weight bold
    img
      margin-top 10px
      width calc(100% - 5px)
      border 3px solid color--primary-light
    .portfolio-title
      word-spacing -2px
      font-size 18px
    .portfolio-info
      margin-top 10px
    p
      margin 5px 0
      font-family font--open-sans
    .portfolio-desc
      font-size 12px
      border-left 2px solid color--primary-light
      padding 5px 10px
      text-align justify
      margin-left 10px
    .portfolio-features
      font-size 14px
      strong
        font-size 13px
        text-transform uppercase
    .portfolio-link
      text-align right
      font-size 11px
      text-transform uppercase
      a
        text-decoration underline
        text-transform uppercase
        font-size 11px
        transition all .2s ease-in-out
        i
          text-decoration none
          padding-left 5px


/****************
 * SERVICES PAGE
 ****************/
 
#services-skills
  @media screen and (min-width: mq--phablet)
    width 98%
    margin 0 auto
    display block
    margin-right -5px
 
#services
  list-style none
  padding 0
  margin 0 auto
  @media screen and (min-width: mq--phablet)
    width calc(90% + 20px)
  @media screen and (min-width: mq--phablet)
    width 44%
    margin-left 0
    display inline-block
    vertical-align top
  li
    background color--white
    border-radius 5px
    padding 15px
    margin 15px 0
    transition all .2s ease-in-out
    &:first-of-type
      margin-top 5px
    @media screen and (min-width: mq--desktop)
      display inline-block 
      margin 5px
      vertical-align top
  h3
    margin 0
    word-spacing -2px
    i
      margin-right 10px
      background rgba(color--primary-light, .3)
      padding 5px
      border-radius 50%
  p 
    font-family font--open-sans
    font-size 12px
    .hide-service
      display none
  button
    background transparent
    border none
    text-decoration underline
    font-size 13px
    color color--primary-light
    padding 0
    word-spacing -2px
    margin-left auto
    display block
    i
      margin-left 5px
      
#skills
  list-style none
  padding 15px
  background color--primary
  border-radius 5px
  color color--white
  @media screen and (min-width: mq--phablet)
    display inline-block
    width 44%
    margin 5px 0 0 20px
  h3
    margin 0
    border-bottom 1px solid color--primary-light
    padding 0 5px 5px
  ul
    list-style none
    margin 5px 0 0
    padding 5px
    overflow hidden
  li
    font-size 14px
    margin 8px 10px 8px 0
    float left
    color color--primary-light
    i
      margin-right 6px
      padding-top 3px
      font-size 11px
      color rgba(color--white, .4)
      vertical-align top
    strong
      color color--white
      

/****************
 * ABOUT PAGE
 ****************/

#about
  background color--white
  padding 15px
  border-radius 5px
  @media screen and (min-width: mq--phablet)
    width calc(90% - 30px)
    margin 0 auto
    padding 30px
  #about-img
    width calc(100% - 4px)
    background color--primary-light 
    padding 3px 3px 0 3px
    float left
    max-width 250px
    margin 0 20px 10px 0
  img
    width 100%
    height 100%
    filter brightness(149%) contrast(98%) hue-rotate(12deg) saturate(120%)
  p
    font-family font--open-sans
    font-size 14px
    line-height 1.6 
    &:first-of-type
      margin-top 0
    a
      text-decoration underline
      

/****************
 * CONTACT PAGE
 ****************/
 
#contact, #business-card
  background color--white
  padding 15px
  border-radius 5px
  display inline-block
  vertical-align top
  @media screen and (min-width: mq--phablet)
    width calc(90% - 30px)
    margin 0 auto
    padding 30px

#contact
  margin-bottom 20px
  @media screen and (min-width: mq--tablet)
    width calc(50% - 20px)
    padding 10px 20px
  @media screen and (min-width: mq--desktop)
    margin-left 4%
    
#business-card
  background color--primary
  color color--white
  width 300px
  @media screen and (min-width: mq--tablet)
    padding 10px 20px
    margin-left 10px
    width 310px
  @media screen and (min-width: mq--desktop)
    margin-left 4%
    padding 20px 30px
    width 330px
  .logo-title
    padding-right 10px
  p
    margin .8em 0
    font-size 13px
    @media screen and (min-width: mq--phablet)
      font-size 15px
    @media screen and (min-width: mq--desktop)
      font-size 16px
  a 
    margin-left 10px
    color lighten(color--primary-light, 10%)
    &:hover
      text-decoration underline

.form-label
  font-family font--anonymous-pro
  word-spacing -2px
  @media screen and (min-width: mq--desktop)
    font-size 16px

.form-label-left
  width 150px !important
  
.form-label-top
  margin-bottom 0

.form-sub-label
  color color--primary-light
  font-family font--anonymous-pro
  word-spacing -2px 
  @media screen and (min-width: mq--desktop)
    font-size .8em

.form-line
  padding 12px 0

.form-label-right
  width 150px !important

.form-all
  color color--primary !important
  font-family font--open-sans
  font-size 14px

.form-textbox, .form-textarea
  width (100% - 6px)
  border none
  box-shadow none
  border-radius 0
  border-bottom 2px solid color--primary-light
  transition background .2s ease-in-out
  font-size 13px
  margin-top 1px
  @media screen and (min-width: mq--desktop)
    font-size 15px
  &:focus
    background rgba(color--primary-light, .1)
    
.form-textarea
  margin-top 8px
  border-left 1px solid color--primary-light
  border-right 1px solid color--primary-light
  border-top 1px solid color--primary-light
  
.form-buttons-wrapper
  text-align left
  margin-left 0 !important
  
.form-submit-button, .form-submit-reset
  background transparent
  border 2px solid color--primary-light
  font-family font--anonymous-pro 
  text-transform uppercase
  font-size 13px
  word-spacing -2px
  padding 2px 8px
  margin 0
  border-radius 0
  @media screen and (min-width: mq--phablet)
    font-size 14px
    padding 6px 10px
  @media screen and (min-width: mq--desktop)
    font-size 16px
    padding 8px 12px

.form-submit-button
  background rgba(color--primary-light, .2)
  
