head
  title Emily Roth | #{title}

  //- Meta elements
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  //- Stylesheets
  link(rel='shortcut icon', type='image/png', href='/images/favicon.ico')
  link(rel='stylesheet', href='/fonts/google-fonts.css')
  link(rel='stylesheet', href='/frameworks/normalize.css')
  link(rel='stylesheet', href='/frameworks/font-awesome-4.3.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/frameworks/bxSlider/jquery.bxslider.css')
  link(href='https://d2g9qbzl5h49rh.cloudfront.net/static/formCss.css?3.2.6946', rel='stylesheet', type='text/css')
  link(type='text/css', rel='stylesheet', href='https://d2g9qbzl5h49rh.cloudfront.net/css/styles/nova.css?3.2.6946')
  link(type='text/css', media='print', rel='stylesheet', href='https://d2g9qbzl5h49rh.cloudfront.net/css/printForm.css?3.2.6946')
  link(rel='stylesheet', href='/stylesheets/index.css')