extend layout

block subtitle
  | About Emily

block content
  section#about
    div#about-img
      img(src="/images/emily-roth.png")
    p My name is Emily Roth and I'm a passionate web developer. I set no limits to my work. There is nothing I cannot learn and nothing that can stop me from doing what I love. Everything and anything is doable. My web designs/ solutions are unique to each and every the client. I can do anything from a personal blog to a band website; from a jewelry boutique to a restaurant. Anything is possible and I promise to make every design as unique to the client as possible.
    p I am a student at Rensselaer Polytechnic Institute, studying Information Technology and Web Science with a concentration in Web Technologies. I would love to pursue Web Design and Web Development as a career or a freelance opportunity.
    p I first became interested in creating websites when I was in elementary school. As a young girl, I had a craving for anything that was aesthetically pleasing. I needed to customize everything I could on the internet to fit my likings. I first learned how to add custom backgrounds and images to personal website profiles, such as Neopets (yes, Neopets, but remember, I was only 8). When I got older, my interest in the internet further developed. I taught myself how to write websites by following tutorials and reading about web design topics.
    p As I became better at coding websites, I sought out to learn more about design. I taught myself how to use Adobe Photoshop by following dozens of tutorials. My Photoshop skills have helped me significantly in designing websites because I am able to create a mockup of a website and then convert it into a useable website that is an exact replica of the mockup. My sophomore year of high school, I took a summer tech camp class for Web Design, Adobe Photoshop, and Flash.
    p My first web design job was for my high school's National Honor Society. I was on the executive board as the Web Master. Being the perfectionist that I am, I decided that I was going to completely redesign the website, using interactive forms and a high school student-friendly atmosphere. I also completed my Girl Scout's Gold Award, in which I created an entire website to teach my community about recycling.
    p Once I came to college, I was eager to get my hands on any web design experience that I could. My first semester on campus, I participated in an undergraduate research project to redesign the Tetherless World Constellations's Drupal theme for their website. I spent months learning about how to create a Drupal theme and implementing my mockup into the theme. After I completed that project, I joined another undergraduate research opportunity my second semester for a new course on campus. My job was to create a new website for the Mandarin II course that featured serveral audio clips. Also, in my second semester of college, I joined a non-profit organization called 
      a(href="http://givenets.org") LifeNets Foundation Inc.
      | , as their technology director. I completely redesigned their entire website and rebuilt it from the bottom up. I am currently still maintaining the LifeNets website as well as the Mandarin II website.
    p Over the summer of 2012, I was able to get more web design opportunities. I became a web design intern for 
      a(href="http://thepowerkingdom.com/") The Power Kingdom
      | , where I made a new website for the LifeLine Management company. For that website, I had to work with Tumblr to create a blog-like site that fans could "follow" for updates. So far, I have designed and coded 5 different websites through this company.
    p Last summer, I had my first experience working for a software company as a Software Engineering Intern for 
      a(href="http://www.wayfair.com/") Wayfair
      | . My first project was to convert ASP to PHP for the website's email templates that customers receive each and every day. My big project for the summer was to redesign the way Wayfair handles payments to work with their MVC framework. I added a feature for customers to pay with multiple credit cards, which was my favorite project of my internship. Since I finished my major project a week early, I spend my last few days working with the HTML/CSS team by working on tickets that directly effected how the website looks and feels. I learned many valuable web development skills during this internship and am very thankful for the opporunity.