extend layout

block subtitle
  | Website Development 
  span &amp; Design

block content
  section#portfolio-preview
    h3 Selected Work
    span#portfolio-preview-right
    span#portfolio-preview-left
    ul.bxslider
      li
        img(src="/images/thewovenwhim.png")
        strong The Woven Whim
        p.portfolio-preview-link
          a(href="http://www.thewovenwhim.com/", target="_blank") View Site
            i.fa.fa-angle-double-right
      li
        img(src="/images/rpialphaphi.png")
        strong RPI Alpha Phi
        p.portfolio-preview-link
          a(href="http://www.rpialphaphi.com/", target="_blank") View Site
            i.fa.fa-angle-double-right
      li
        img(src="/images/petownsend.png")
        strong Paige Townsend Portfolio
        p.portfolio-preview-link
          a(href="http://www.petownsend.com/", target="_blank") View Site
            i.fa.fa-angle-double-right
      li
        img(src="/images/imby.png")
        strong Imby, Inc.
        p.portfolio-preview-link
          a(href="http://www.imby.com/", target="_blank") View Site
            i.fa.fa-angle-double-right

