extend layout

block subtitle
  | Portfolio

block content
  ul#portfolio
    li
      strong.portfolio-title RPI Student Government
      img(src="/images/stugov.png")
      div.portfolio-info
        p.portfolio-desc
          | I was contacted in the Spring of 2015 by the RPI Student Government to make a website for their organization.  The site includes sub-sites for each of the Student Government branches, including the Student Senate, Executive Board, and Judicial Board.  Since the hands of the website change once a year, the site needed a user-friendly CMS and the ability to update virtually everything on the site.
        p.portfolio-features
          strong Features: 
          | Wordpress, PHP, HTML5, CSS3, JQuery, Fully Responsive, Wordpress Pods Plugin, .htaccess rewriting 
        p.portfolio-link
          a(href="http://www.stugov.union.rpi.edu/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title The Woven Whim
      img(src="/images/thewovenwhim.png")
      div.portfolio-info
        p.portfolio-desc
          | Maggie Carlstrom is an RPI Class of 2014 graduate who wanted to redesign her travel/style blog to reflect her personality.  She wanted the blog to reflect her new sophisticated working lifestyle.  Social media sharing was a must-have for her users.
        p.portfolio-features
          strong Features: 
          | Wordpress, PHP, HTML5, CSS3, JQuery, Fully Responsive
        p.portfolio-link
          a(href="http://www.stugov.union.rpi.edu/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title RPI Alpha Phi
      img(src="/images/rpialphaphi.png")
      div.portfolio-info
        p.portfolio-desc
          | As a member of the Alpha Phi Fraternity at RPI, I got the opportunity to recreate the chapter's website over the summer of 2014. For the website, I worked with a fellow sister on the design and coded it myself completely from scratch. It was important to have a modern and college-friendly website that would attract potential new members and impress parents. My next steps for the website include integrating Couch CMS into it so that anyone can edit the website without coding knowledge.
        p.portfolio-features
          strong Features: 
          | PHP, HTML5, CSS3, JQuery, Fully Responsive, CouchCMS
        p.portfolio-link
          a(href="http://www.rpialphaphi.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title Paige Townsend Portfolio
      img(src="/images/petownsend.png")
      div.portfolio-info
        p.portfolio-desc
          | Paige Townsend is a recent graduate of RPI with degrees in Mechanical Engineering and Design, Innovation, and Society. She has an eye for design and wanted a portfolio website for all of her unique creations. From her vision, I created a "paint swatch" portfolio in pure JQuery/JS.
        p.portfolio-features
          strong Features: 
          | PHP, HTML5, CSS3, JQuery
        p.portfolio-link
          a(href="http://www.petownsend.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title Imby, Inc.
      img(src="/images/imby.png")
      div.portfolio-info
        p.portfolio-desc
          | Imby is a highly customized Wordpress website. It is a local social network where users can do anything from post new events, create classifieds, and subscribe to user blogs. For the website, work on fixing various bugs and creating new features. For example, I added the ability to select different hours for different days in a directory posting.
        p.portfolio-features
          strong Features: 
          | Wordpress, PHP, HTML5, CSS3, JQuery, MailChimp
        p.portfolio-link
          a(href="http://www.petownsend.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title LifeNets Foundation, Inc.
      img(src="/images/lifenets.jpg")
      div.portfolio-info
        p.portfolio-desc
          | LifeNets is a nonprofit organization primarily focused on donating anti-Malaria nets to villages in Africa. After LifeNets was first established, they came to me to redesign and code their website.  Their goal was to provide information to students interested in joining the organziation as well as donors who are interested in the organization's mission.  After I left my position as Technology Director, the site has been altered.
        p.portfolio-features
          strong Features: 
          |  HTML5, CSS3, JQuery Slideshow, Original JQuery Photo Gallery
        p.portfolio-link
          a(href="http://www.emroth.com/lifenets", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title Sacred Heart School
      img(src="/images/sacredheart.jpg")
      div.portfolio-info
        p.portfolio-desc
          | Sacred Heart School is a Catholic school located in Troy, NY. They wanted a new website that would be primarily for the school and separate from the parish's website. I created the website using Wordpress CMS so that many faculty members would be able to edit the website by adding news stories, creating calendar events, and updating information.in the organization's mission.  After I left my position as Technology Director, the site has been altered.
        p.portfolio-features
          strong Features: 
          |  HTML5, CSS3, Wordpress
        p.portfolio-link
          a(href="http://www.sacredheartschooltroy.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title RPI Amnesty International
      img(src="/images/amnesty.jpg")
      div.portfolio-info
        p.portfolio-desc
          | Amnesty International is a club at my school that focuses on human rights. The website was created to spread awareness about the group's advocacies, as well as to provide information about the club members. I designed the website to primarily appeal to college students and the social aspect of their online lives.
        p.portfolio-features
          strong Features: 
          | HTML5, CSS3, Accordian Image Viewer, Embeded Videos
        p.portfolio-link
          a(href="http://amnesty.union.rpi.edu/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title Re:Design
      img(src="/images/redesign.jpg")
      div.portfolio-info
        p.portfolio-desc
          | Re:Design is a scholarship competition developed by students at RPI. They needed a website that was purely informational to provide prospective students the information necessary to apply. Since the program focuses on design, I created something bold, yet simple to get the information across.
        p.portfolio-features
          strong Features: 
          | HTML5, CSS3, 960 Grid System
        p.portfolio-link
          a(href="http://www.re-design.myrpi.org/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title A Very GK! Holiday Festival
      img(src="/images/gkholiday.jpg")
      div.portfolio-info
        p.portfolio-desc
          | A Very GK! Holiday is a music festival ran by The Power Kingdom Corporation and Sponsored by the Glamour Kills clothing line. I designed the website to provide frequent updates to fans or followers via Tumblr. It was created primarily for fans of the festival to get information about the dates and bands performing.
        p.portfolio-features
          strong Features: 
          | HTML5, CSS3, Tumblr CMS
        p.portfolio-link
          a(href="http://averygkholiday.tumblr.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title Blazers Basketball
      img(src="/images/blazers.jpg")
      div.portfolio-info
        p.portfolio-desc
          | Blazers is a basketball team based out of the Albany, NY area for students in grades 5-12. The website was made to provide information to current team members as well as prospective members. Although I did have some input as to the design on the website, the owner was very particular about the content and design of the site, leaving me limited to his preferences.
        p.portfolio-features
          strong Features: 
          | HTML5, CSS3, 960 Grid System, JQuery Slideshow
        p.portfolio-link
          a(href="http://empirestateblazers.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title LifeLine Management
      img(src="/images/lifeline.jpg")
      div.portfolio-info
        p.portfolio-desc
          | LifeLine Management is a management company under The Power Kingdom Corporation. This company, based out of Poughkeepsie, has a range of clients focused on the music scene including artists, photographers, road crew, and producers. As their web design intern, I designed and build this blog-based website using Tumblr so fans could get quick updates.
        p.portfolio-features
          strong Features: 
          | HTML5, CSS3, JQuery Slideshow, Tumblr CMS, Twitter Integration
        p.portfolio-link
          a(href="http://lifelinemgmt.com/", target="_blank") View Site
            i.fa.fa-external-link
    li
      strong.portfolio-title RPI Mandarin II Course
      img(src="/images/mandarin.jpg")
      div.portfolio-info
        p.portfolio-desc
          | During the spring of my freshman year of college, I took on a research project to create and maintain a website for the Mandarin II course. This website was created for the sole use of aiding the students in the course, through resources like video and audio files. It can only be accessed by the professors and students taking the course.
        p.portfolio-features
          strong Features: 
          | HTML5, CSS3, Multilevel Navigation, Embeded Video, Embeded Audio
        p.portfolio-link
          | not viewable to public