extend layout

block subtitle
  | Services &amp; Skills

block content
  section#services-skills
    ul#services
      li
        h3 
          i.fa.fa-code
          | Website Development
        p Is your website lacking essential features? Do you need a website made from scratch? I can take your  ideas from concept/design to a fully functioning website. 
          span.hide-service
            | I work with responsive design, as well as dynamic websites, and pay very close attention to details.  I will ensure that your website looks and works exactly how you invisioned.
        button(type="button", data-more="true").read-more Show me more!
          i.fa.fa-caret-down
      li
        h3 
          i.fa.fa-paint-brush
          | Website Design
        p I have a passion for designing intuitive websites and a keen eye for aesthetic details. There are no limits to my designs. 
          span.hide-service
            | I take great joy in building websites and seeing my designs come to life. A lot of time and care are put into every website I create, and yours will be no difference. I can create detailed mockups in Adobe Photoshop and then code a website that is an exact replica of the design.
        button(type="button", data-more="true").read-more Show me more!
          i.fa.fa-caret-down
      li
        h3 
          i.fa.fa-certificate
          | Graphic Design
        p Have a logo idea and need to make it come to life? Do you need a new business card? I have been trained in Visual Communications and Typography using the following Adobe products:
          span.hide-service 
            | Photoshop, Illustrator, and InDesign.  I can create logos, flyers, business cards, letterheads, brochures, and more!
        button(type="button", data-more="true").read-more Show me more!
          i.fa.fa-caret-down

    section#skills
      h3 Skills
      ul
        li 
          i.fa.fa-plus-circle
          strong HTML5
        li
          i.fa.fa-plus-circle
          strong Jade
        li
          i.fa.fa-plus-circle
          strong CSS3
        li
          i.fa.fa-plus-circle
          | SASS
        li
          i.fa.fa-plus-circle
          strong Stylus
        li
          i.fa.fa-plus-circle
          strong JavaScript
        li
          i.fa.fa-plus-circle
          strong Node.js
        li
          i.fa.fa-plus-circle
          strong JQuery
        li
          i.fa.fa-plus-circle
          | Backbone.js
        li
          i.fa.fa-plus-circle
          | AngularJS
        li
          i.fa.fa-plus-circle
          | JSON
        li
          i.fa.fa-plus-circle
          | AJAX
        li
          i.fa.fa-plus-circle
          strong PHP
        li
          i.fa.fa-plus-circle
          | ASP
        li
          i.fa.fa-plus-circle
          | MongoDB
        li
          i.fa.fa-plus-circle
          | Mongoose
        li
          i.fa.fa-plus-circle
          strong MYSQL
        li
          i.fa.fa-plus-circle
          | MS SQL Server
        li
          i.fa.fa-plus-circle
          | PostgreSQL
        li
          i.fa.fa-plus-circle
          | C++
        li
          i.fa.fa-plus-circle
          | C
        li
          i.fa.fa-plus-circle
          | Java
        li
          i.fa.fa-plus-circle
          strong Python
        li
          i.fa.fa-plus-circle
          | Ruby
        li
          i.fa.fa-plus-circle
          | Linux
        li
          i.fa.fa-plus-circle
          strong Wordpress
        li
          i.fa.fa-plus-circle
          | Drupal
        li
          i.fa.fa-plus-circle
          | CouchCMS
        li
          i.fa.fa-plus-circle
          strong Photoshop
        li
          i.fa.fa-plus-circle
          | Illustrator
        li
          i.fa.fa-plus-circle
          | InDesign
        li
          i.fa.fa-plus-circle
          | After Effects